# https://travis-ci.org/PierreRaybaut/formlayout

language: python
sudo: required

env:
  global:
    - MINICONDA_VERSION="latest"
    - MINICONDA_LINUX="Linux-x86_64"
    - MINICONDA_OSX="MacOSX-x86_64"

matrix:
  include:
    - python: "2.7"
      env: USE_QT_API=PyQt4
      os: linux
    - python: "3.5"
      env: USE_QT_API=PyQt4
      os: linux
    - python: "2.7"
      env: USE_QT_API=PyQt5
      os: linux
    - python: "3.5"
      env: USE_QT_API=PyQt5
      os: linux

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - chmod +x ./continuous_integration/travis/install.sh
  - export PYTHONPATH=$HOME/build/PierreRaybaut/formlayout

install: source ./continuous_integration/travis/install.sh;

before_script:
 - chmod +x ./continuous_integration/travis/main_test.sh

script:
  - ./continuous_integration/travis/main_test.sh
